$white:			#FFFFFF; // Background / Footer Text
$hp-salmon1:	#F47D67; // Link Color
$hp-salmon2:	#E16852; // Link Hover Color
$hp-blue1:		#85CDF2; // Footer Color
$hp-blue2:		#2185C5; // Button Color
$hp-blue3:		#3E454C; // Live Support
$hp-blue4:		#52B0EA; // Vibrant - Light
$hp-gray:		#646464; // Dark
$db-blue1:		#3e454c; // Light
$db-blue2: 		#e5edf3; // Dashboard Background Color
$db-blue3:		#202933; // Dashboard Menu Color
$db-blue4:		#171f28; // Dashboard Menu Hover Color
$db-blue6:		#186fd0; // Dashboard View Ticket Link
$db-gray:		#c4c4c4; // Light
$db-blue5:		#f2f5f8; // Row Striping / Secondary Background Color
$green:			#149f42; // Status Green
$orange:		#f38d14; // Status Orange
$red:			#b74214; // Status Red